# Git
.git
.gitignore

# Logs
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php

# node modules
node_modules
dist
public/build

# php dependencies
vendor

# Docker logs
.docker
docker-compose.yml

# IDE & Editor files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
